/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31.03.2016, 11:01:51
    Author     : serikuly_s
*/

#new-test .button_bg button.button_blue_text{
    background: #0091d5;
    margin-right: 5px;
}
#events .numbers button.button_blue_text{
    width: 100%;
    height: 100%;
}
.drop_small_200.country_filter:before{
    background: none;
}
.leter-list{
    float: left;
    width: 30%;
    min-height: 6em;
}
.leter-list .leter {
    color: #06ca55;
    margin-bottom: 1em;
}
.leter-list li a{
    color: #0091d5;
}
.leter-list li.active{
    background-color: #ccc;
}