<!--<h4>Создать предложение</h4>
<form name="offerCreateForm" class="offerCreateForm">
    <table>
        <tr>
            <td>Название предложения</td>
            <td><input type="text" ng-model="offer.name"/></td>
        </tr>
        <tr>
            <td>Фотография</td>
            <td>
                <button ngf-select="uploadPhoto($file)">Выбрать</button>
                <input type="text" ng-model="offer.photo.content" ng-show="false">
                <input type="text" ng-model="offer.photo.type" ng-show="false">
                <img id="photo-preview"/>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                Описание<br/>
                
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: right;">
                <button type="submit" ng-click="createOffer()">Добавить</button>
            </td>
        </tr>
    </table>
</form>-->

<link rel="stylesheet" href="css/kick.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<style>
    .shadow_overlay{
        z-index: 999;
    }
    .custom-modal.active{
        z-index: 1000;
        width: 30%;
    }
</style>
<section class="NS_projects__hero_funding create-form">
    <!-- / Hide this on mobile since we want the video to be at the top -->
    <div class="mobile-hide py4 px2">
        <div class="NS_projects__header center">
            <h2 class="normal mb1"><input type="text" ng-model="offer.name" placeholder="Название предложения" style="width: 30%; line-height: inherit; font-size: 32px;"/></h2>
        </div>

    </div>
    <div class="container-flex px2">
        <div class="row">
            <div class="table">
                <div class="table-cell col-8 px-gutter">
                    <div class="project-image" id="video-section">
                        <button ngf-select="upload($file)">Выбрать</button>
                            <span id="photoSpan"></span>
                            <input type="text" ng-model="offer.photo.filename" ng-show="false">
                            <img id="photo-preview" src="/img/uploads/{{offer.photo.filename}}" ng-show="offer.photo.filename"/>
                            <img ng-hide="offer.photo.filename" src="http://3dtoday.ru/upload/_blank_600.jpg" />
                    </div>

                </div>
                <div class="table-cell col-4 px-gutter">

                    <!-- / Only renders for non live projects -->
                    <div class="Project1539660295"></div>
                    <!-- / Back manage and star buttons -->
                    <div class="NS_projects__back_and_star">
                        <div class="Project1539660295">
                            <div class="align-middle inline-block pl1 mobile-hide"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-8 py4">
                <div class="mobile-hide">
                    <div class="h5 mb3">

                    </div>
                    <p class="h3 mb3">
                        <textarea ng-model="offer.description" style="width: 100%; height: 50px;" placeholder="Описание"></textarea>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="NS_projects__content clearfix" style="width: 1060px; margin: 0 auto;">
    <button ng-show="createOfferAction" type="submit" ng-click="createOffer()" class="button_blue_text" style="float: right;">Сохранить</button>
    <button ng-hide="createOfferAction" type="submit" ng-click="updateOffer(offer._id)" class="button_blue_text" style="float: right;">Сохранить</button>
</div>