<h4>Изменить предложение</h4>
<form name="offerCreateForm" class="offerCreateForm">
    <table>
        <tr>
            <td>Название предложения</td>
            <td><input type="text" ng-model="offer.name"/></td>
        </tr>
        <tr>
            <td>Фотография</td>
            <td>
                <button ngf-select="uploadPhoto($file)">Выбрать</button>
                <input type="text" ng-model="offer.photo.content" ng-show="false">
                <input type="text" ng-model="offer.photo.type" ng-show="false">
                <img id="photo-preview" data-ng-src="data:{{offer.photo.ext}};base64,{{offer.photo.contentString}}">
            </td>
        </tr>
        <tr>
            <td colspan="2">
                Описание<br/>
                <textarea ng-model="offer.description" style="width: 100%; height: 50px;"></textarea>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: right;">
                <button type="submit" ng-click="updateOffer(offer._id)">Сохранить</button>
            </td>
        </tr>
    </table>
</form>