<!-- Filters -->
<section id="filters">
    <div class="inner">

        <div class="tags">
            <div class="clearfix">
                <button permission only="'exponent'" ng-click="locationPath('/offer/create/')" class="button_blue_text" style="float: right;">Создать предложение</button>
            </div>
        </div>
    </div>
</section>
<section id="events" class="clearfix">
    <div class="inner">
        <div class="grid clearfix" masonry>

            <!-- Single item -->
            <div masonry-brick class="masonry-brick grid_item" ng-repeat="offer in offers">
                <a href="/#/offer/{{offer._id}}" class="photo">
                    <img style="max-width: 250px;" src='/img/uploads/{{offer.photo.filename}}'>
                </a>

                <div class="info">

                    <a href="/#/offer/{{offer._id}}/" class="title">{{offer.name}}</a>

                    <div class="tags">
                        {{offer.description}}
                    </div>
                </div>

                <div class="numbers clearfix">

                </div>
            </div>
        </div>
    </div><!--/inner-->

    <button class="button_gray_border_text load_more">Загрузить еще</button>

</section>