<h1>Список предложений для подтверждения</h1>
<table>
    <tr>
        <td>
            Название выставки
        </td>
        <td>
            Имя предложения
        </td>
        <td>
            Действия
        </td>
    </tr>
    <tr ng-repeat="al in approveList">
        <td>
            <a href="/#/exposition/{{al.item.exposition._id}}/">{{al.item.exposition.displayName}}</a>
        </td>
        <td>
            <a href="/#/offer/{{al.item.offer._id}}/">{{al.item.offer.name}}</a>
        </td>
        <td>
            <a href="" ng-click="approve(al.item._id)">Подтвердить</a>
            <a href="" ng-click="cancelItem(al.item._id)">Отменить</a>
        </td>
    </tr>
</table>