<!-- Filters -->
<section id="filters">
    <div class="inner">

        <div class="selects clearfix">
            <div class="drop_big_320 filter-category">
                <select name="filter-category">
                    <option value="Выставки">Выставки</option>
                    <option value="Выставка 1">Выставка 1</option>
                    <option value="Выставка 2">Выставка 2</option>
                    <option value="Выставка 3">Выставка 3</option>
                </select>
            </div>

            <div class="place">
                <div class="clearfix">
                    <div class="drop_small_200">
                        <input ng-change="onChangeFilterIndex()" ng-model="filter.location" type="text" placeholder="Выбрать страну" style="color: white;"  g-places-autocomplete options="autocompleteOptions"/>
<!--                        <select name="filter-country">
                            <option value="Выбрать страну">Выбрать страну</option>
                            <option value="Страна 1">Страна 1</option>
                            <option value="Страна 2">Страна 2</option>
                        </select>-->
                    </div>

                    <div class="drop_small_200">
                        <select name="filter-month" ng-change="onChangeFilterIndex()" ng-model="filter.month">
                            <option value="0">Выбрать месяц</option>
                            <option value="1">Январь</option>
                            <option value="2">Февраль</option>
                            <option value="3">Март</option>
                            <option value="4">Апрель</option>
                            <option value="5">Май</option>
                            <option value="6">Июнь</option>
                            <option value="7">Июль</option>
                            <option value="8">Август</option>
                            <option value="9">Сентябрь</option>
                            <option value="10">Октябрь</option>
                            <option value="11">Ноябрь</option>
                            <option value="12">Декабрь</option>
                        </select>
                    </div>

                    <button class="submit-button not-submitted" ng-click="loadExpos()">OK</button>
                    <button class="reset-button" ng-click="resetFilter()">Сброс</button>
                </div>
            </div>
        </div>

        <div class="tags">
            <div class="clearfix">

                <div class="tag_boxed">Бизнес</div>
                <div class="tag_boxed active">Конференция</div>
                <div class="tag_boxed">Семинар</div>
                <div class="tag_boxed">Обзор</div>

                <button class="button_blue_text">Добавить направление</button>
                <button class="button_blue_icon trash"></button>

            </div>
        </div>
    </div>
</section>
<section id="events" class="clearfix">
    <div class="inner">
        <div class="grid clearfix" masonry>
            <!-- Single item -->
            <a permission only="'organizer'" href="/#/exposition/create/" class="grid_item add_new" masonry-brick>
                <button class="button_blue_text">Добавить выставку</button>
            </a>

            <!-- Single item -->
            <div masonry-brick class="masonry-brick grid_item" ng-repeat="exposition in expositions">
                <a href="/#/cart/add/{{exposition._id}}/" class="photo">
                    <img data-ng-src="data:{{exposition.photo.ext}};base64,{{exposition.photo.contentString}}">
                    <div href="/#/cart/add/{{exposition._id}}/" class="rocket button_green_icon">Тестировать</div>
                </a>

                <div class="info">
                    <div class="date">{{exposition.startDateString}} - {{exposition.endDateString}}</div>

                    <a href="/#/exposition/{{exposition._id}}/" ng-click="findExposition(exposition._id)" class="title">{{exposition.displayName}}</a>

                    <div class="city">{{exposition.location.formatted_address}}</div>

                    <div class="tags">
                        <a href="#" class="single-tag">Машиностроение</a>, <a href="#" class="single-tag">Промышленные насосы и клапаны</a>, <a href="#" class="single-tag">Гидравлика и пневматика</a>, <a href="#" class="single-tag">Промышленное оборудование</a>, <a href="#" class="single-tag">Металлообрабатывающие станки</a>, <a href="#" class="single-tag">Гидравлика и пневматика</a>, <a href="#" class="single-tag">Машиностроение</a>
                    </div>
                </div>

                <div class="numbers clearfix">
                    <div class="people">> {{exposition.expectedAudience}}</div>

                    <div class="man">{{exposition.minFeedBack}}</div>

                    <div class="price">{{exposition.price}} &#8381;</div>
                </div>
            </div>
        </div>
    </div><!--/inner-->

    <button class="button_gray_border_text load_more">Загрузить еще</button>

</section>
