<!-- Filters -->
<section id="filters">
    <div class="inner">

        <div class="selects clearfix">
            <div class="drop_big_320 filter-category">
                <select name="filter-category" ng-model="filter.format" ng-change="loadExpos()">
                    <option value="0">Все</option>
                    <option value="1">Выставки</option>
                    <option value="2">Премии</option>
                    <option value="3">Конференции</option>
                    <option value="4">Форумы</option>
                </select>
            </div>

            <div class="place">
                <div class="clearfix">
                    <div class="drop_small_200 country_filter">
                        <input onfocus="this.placeholder = ''" onblur="this.placeholder = 'Выбрать регион'" ng-change="onChangeFilterIndex()" ng-model="filter.location" type="text" placeholder="Выбрать регион" style="color: white;"  g-places-autocomplete options="autocompleteOptions"/>
                        <!--                        <select name="filter-country">
                                                    <option value="Выбрать страну">Выбрать страну</option>
                                                    <option value="Страна 1">Страна 1</option>
                                                    <option value="Страна 2">Страна 2</option>
                                                </select>-->
                    </div>

                    <div class="drop_small_200">
                        <select name="filter-month" ng-change="onChangeFilterIndex()" ng-model="filter.month">
                            <option value="0">Выбрать месяц</option>
                            <option value="1">Январь</option>
                            <option value="2">Февраль</option>
                            <option value="3">Март</option>
                            <option value="4">Апрель</option>
                            <option value="5">Май</option>
                            <option value="6">Июнь</option>
                            <option value="7">Июль</option>
                            <option value="8">Август</option>
                            <option value="9">Сентябрь</option>
                            <option value="10">Октябрь</option>
                            <option value="11">Ноябрь</option>
                            <option value="12">Декабрь</option>
                        </select>
                    </div>

                    <div class="drop_small_200">
                        <select name="filter-year" ng-change="onChangeFilterIndex()" ng-model="filter.year">
                            <option value="0">Выбрать год</option>
                            <option value="2015">2015 г.</option>
                            <option value="2016">2016 г.</option>
                        </select>
                    </div>

                    <button class="submit-button not-submitted" ng-click="loadExpos()">OK</button>
                    <button class="reset-button" ng-click="resetFilter()">Сброс</button>
                </div>
            </div>
        </div>

        <div class="tags">
            <div class="clearfix">

                <div class="tag_boxed active" ng-repeat="theme in filter.themes" ng-click="chooseThemesFilter(theme)">{{theme.name}}</div>

                <button class="button_blue_text" ng-click="showThemes()">Добавить направление</button>
                <!--                <button class="button_blue_icon trash"></button>-->
                <button permission only="'organizer'" ng-click="locationPath('/exposition/create/')" class="button_blue_text" style="float: right;">Добавить свою выставку</button>
            </div>
        </div>
    </div>
</section>
<section id="events" class="clearfix">
    <div class="inner">
        <div class="grid clearfix" masonry>
            <!-- Single item -->
            <a permission only="'organizer'" href="/#/exposition/create/" class="grid_item add_new" masonry-brick>
                <button class="button_blue_text">Добавить выставку</button>
            </a>

            <!-- Single item -->
            <div masonry-brick class="masonry-brick grid_item" ng-repeat="exposition in expositions">
                <div class="photo">
                    <a href="/#/exposition/{{exposition._id}}/"><img style="max-width: 250px;" data-ng-src="data:{{exposition.photo.ext}};base64,{{exposition.photo.contentString}}" alt=""></a>
                    <a ng-click="redirect(exposition._id)" href="" class="rocket button_green_icon">Тестировать</a>
                </div>

                <div class="info">
                    <div class="date">{{exposition.startDateString}} - {{exposition.endDateString}}</div>

                    <a href="/#/exposition/{{exposition._id}}/" ng-click="findExposition(exposition._id)" class="title">{{exposition.displayName}}</a>

                    <div class="city">{{exposition.location.address_components[0].long_name}}, {{exposition.location.address_components[exposition.location.address_components.length - 1].long_name}}</div>

                    <div class="tags">
                        <a href="#" class="single-tag" ng-repeat="theme in exposition.themes">{{theme.name}} </a> 
                    </div>
                </div>

                <div class="numbers clearfix">
                    <div class="people">> {{exposition.expectedAudience}}</div>

                    <div class="man">{{exposition.minFeedBack}}</div>

                    <div class="price">{{exposition.price}} &#8381;</div>
                </div>
            </div>
        </div>
    </div><!--/inner-->

    <button class="button_gray_border_text load_more">Загрузить еще</button>

</section>

<!-- Events -->
<section id="new-test" class="clearfix custom-modal">

    <h1>Тестировать аудиторию</h1>

    <div class="inner">

        <div class="grid clearfix" masonry>
            <!-- Single item -->
            <a href="#" class="grid_item add_new">
                <button class="button_blue_text">Создать предложение</button>
            </a>

            <!-- Single item -->
            <div masonry-brick class="grid_item" ng-repeat="offer in offers" ng-click="chooseOffer($index, offer._id);" ng-class="$index === chosenOffer ? 'active' : ''">
                <a href="/#/offer/{{offer._id}}/" class="photo">
                    <img style="max-width: 250px;" data-ng-src="data:{{offer.photo.ext}};base64,{{offer.photo.contentString}}">
                </a>

                <div class="info">

                    <a href="/#/offer/{{offer._id}}/" class="title">{{offer.name}}</a>

                    <div class="tags">
                        {{offer.description}}
                    </div>
                </div>

                <div class="numbers clearfix">
                    <!--                    <div class="people">> 5000</div>
                                        
                                        <div class="man">74</div>
                                        
                                        <div class="price">12000 &#8381;</div>-->
                </div>
            </div>

        </div><!--/grid-->
    </div><!--/inner-->

    <div class="button_bg">
        <button ng-class="activeChoseOfferButton ? '' : 'gray_button'" ng-click="addCartItem()">Выбрать предложение</button>
        <button ng-click="locationPath('/offer/create/')" class="button_blue_text">Создать предложение</button>
    </div>

</section>

<section id="themes" class="clearfix custom-modal">

    <h1>Выбрать тематику</h1>

    <div class="inner">

        <div class="grid clearfix">
            <ul class="leter-list" ng-repeat="letter in letters">
                <div class="leter"><font size="5">{{letter}}</font></div>
                <li ng-repeat="theme in themes" ng-if="letter === theme.name.charAt(0)" style="max-width: 275px;" ng-class="checkChosenThemeFilter(theme) ? 'active' : ''">
                    <a href="" ng-click="chooseThemesFilter(theme)">{{theme.name}}</a>
                </li>
            </ul>
        </div><!--/grid-->
    </div><!--/inner-->

    <div class="button_bg">
        <button ng-class="activeChoseThemeButton ? '' : 'gray_button'" ng-click="closeThemeFilter()">Выбрать тематики</button>
    </div>

</section>
