<h3>Регистрация</h3>
<form ng-submit="signup()">
    <table>
        <tr>
            <td>Имя</td>
            <td><input type="text" ng-model="user.displayName"></td>
        </tr>
        <tr>
            <td>Логин</td>
            <td><input type="text" ng-model="user.username"></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="text" ng-model="user.email"></td>
        </tr>
        <tr>
            <td>Телефон</td>
            <td><input type="text" ng-model="user.phone"></td>
        </tr>
        <tr>
            <td>Пароль</td>
            <td><input type="text" ng-model="user.password"></td>
        </tr>
        <tr>
            <td>Роль</td>
            <td>
                <select ng-model="user.role">
                    <option ng-value="1">Организатор</option>
                    <option ng-value="2">Экспонент</option>
                    <option ng-value="3">Посетитель</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Аватар</td>
            <td>
                <button ngf-select="upload($file)">Выбрать</button>
                <span id="photoSpan"></span>
                <input type="text" ng-model="user.avatar" ng-show="false">
                <img id="avatar-img"/>
            </td>
        </tr>
        <tr>
            <td>Описание</td>
            <td><textarea ng-model="user.description"></textarea></td>
        </tr>
        <tr>
            <td colspan="2"><a ng-click="additionalField()">Добавить дополнительное поле</a> </td>
        </tr>
        <tr ng-repeat="add in user.additional">
            <td>
                Название <br />
                Значение
            </td>
            <td>
                <input type="text" ng-model="add.name"><br />
                <input type="text" ng-model="add.data">
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button>Зарегистрироваться</button>
            </td>
        </tr>
    </table>
</form>
