<table>
    <tr>
        <td>Имя</td>
        <td>Логин</td>
        <td>Почта</td>
        <td>Номер телефона</td>
        <td>Роль</td>
        <td>Премиум</td>
        <td>Описание</td>
        <td>Баланс</td>
        <td>Заблокирован</td>
        <td>Действия</td>
    </tr>
    <tr ng-repeat="user in users">
        <td>{{user.displayName}}</td>
        <td>{{user.login}}</td>
        <td>{{user.email}}</td>
        <td>{{user.phone}}</td>
        <td>{{user.role}}</td>
        <td>{{user.hasPremium}}</td>
        <td>{{user.description}}</td>
        <td>{{user.balance}}</td>
        <td>{{user.lock}}</td>
        <td>
            <a href='' ng-show='!user.lock' ng-click="lock(user._id)">Заблокировать</a>
            <a href='' ng-show='user.lock' ng-click="lock(user._id)">Разблокировать</a>
        </td>
    </tr>
</table>