<h4>Создание выставки</h4>
<form name="expositionCreateForm" class="expositionCreateForm">
    <table>
        <tr>
            <td>Формат</td>
            <td>
                <select ng-model="exposition.format">
                    <option ng-value="1">Выставка</option>
                    <option ng-value="2">Премия</option>
                    <option ng-value="3">Конференция</option>
                    <option ng-value="4">Форум</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Название выставки</td>
            <td><input type="text" name="expositionName" ng-model="exposition.displayName" id="expositionName"/></td>
        </tr>
        <tr>
            <td>Город</td>
            <td><input type="text" name="expositionLocation" ng-model="exposition.location" id="expositionLocation" g-places-autocomplete options="autocompleteOptions"/></td>
        </tr>
        <tr>
            <td>Веб-сайт</td>
            <td><input type="text" name="expositionWebsite" ng-model="exposition.website" id="expositionWebsite"/></td>
        </tr>
        <tr>
            <td>Цена</td>
            <td><input type="text" name="expositionPrice" ng-model="exposition.price" id="expositionPrice"/></td>
        </tr>
        <tr>
            <td>Фотография</td>
            <td>
                <button ngf-select="uploadPhoto($file)">Выбрать</button>
                <input type="text" ng-model="exposition.photo.content" ng-show="false">
                <input type="text" ng-model="exposition.photo.type" ng-show="false">
                <img id="photo-preview"/>
            </td>
        </tr>
        <tr>
            <td>Дата начала</td>
            <td><input type="text" class="date" ng-model="exposition.startDate"></td>
        </tr>
        <tr>
            <td>Дата окончания</td>
            <td><input type="text" class="date" ng-model="exposition.endDate"></td>
        </tr>
        <tr>
            <td>Презентация</td>
            <td>
                <button ngf-select="uploadPresentation($file)">Выбрать</button>
                <input type="text" ng-model="exposition.presentation.content" ng-show="false">
                <input type="text" ng-model="exposition.presentation.type" ng-show="false">
                <span id="presentation-name"></span>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                Описание<br/>
                <textarea name="expositionDescription" ng-model="exposition.description" id="expositionDesc" style="width: 100%; height: 50px;"></textarea>
            </td>
        </tr>
        <tr>
            <td>Ожидаемая аудитория</td>
            <td><input type="text" ng-model="exposition.expectedAudience"></td>
        </tr>
        <tr>
            <td>Минмальный отклик</td>
            <td><input type="text" ng-model="exposition.minFeedBack"></td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: right;">
                <button type="submit" ng-click="createExposition()">Добавить</button>
                <a href="/#/exposition/create/" ng-click="reset()">Отменить</a>
            </td>
        </tr>
    </table>
</form>
<script>
    $(function () {
        $(".date").each(function () {
            $(this).datepicker({minDate: "0d"});
        });
    });
</script>