<h4>Новое предложение в выставке {{exposition.displayName}}</h4>
<form name="offerCreateForm" class="offerCreateForm">
    <table>
        <tr>
            <td>Название предложения</td>
            <td><input type="text" ng-model="exposition.offer.name"/></td>
        </tr>
        <tr>
            <td>Фотография</td>
            <td>
                <button ngf-select="uploadOffer($file)">Выбрать</button>
                <span id="photoSpan"></span>
                <input type="text" ng-model="exposition.offer.photo">
            </td>
        </tr>
        <tr>
            <td colspan="2">
                Описание<br/>
                <textarea ng-model="exposition.offer.description" style="width: 100%; height: 50px;"></textarea>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: right;">
                <button type="submit" ng-click="updateExposition(exposition._id)">Добавить</button>
                <a href="/#/exposition/{{exposition._id}}/offer/create/" ng-click="reset()">Отменить</a>
            </td>
        </tr>
    </table>
</form>