<h4>Создание выставки</h4>
<form name="expositionCreateForm" class="expositionCreateForm">
    <table>
        <tr>
            <td>Формат</td>
            <td>
                <select ng-model="exposition.format">
                    <option ng-value="1">Выставка</option>
                    <option ng-value="2">Премия</option>
                    <option ng-value="3">Конференция</option>
                    <option ng-value="4">Форум</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Название выставки</td>
            <td><input type="text" name="expositionName" ng-model="exposition.displayName" id="expositionName"/></td>
        </tr>
        <tr>
            <td>Город</td>
            <td><input type="text" name="expositionLocation" ng-model="exposition.location" id="expositionLocation" g-places-autocomplete options="autocompleteOptions"/></td>
        </tr>
        <tr>
            <td>Веб-сайт</td>
            <td><input type="text" name="expositionWebsite" ng-model="exposition.website" id="expositionWebsite"/></td>
        </tr>
        <tr>
            <td>Стоимость тестирования</td>
            <td><input type="text" name="expositionPrice" ng-model="exposition.price" id="expositionPrice"/></td>
        </tr>
        <tr>
            <td>Фотография</td>
            <td>
                <button ngf-select="uploadPhoto($file)">Выбрать</button>
                <input type="text" ng-model="exposition.photo.content" ng-show="false">
                <input type="text" ng-model="exposition.photo.type" ng-show="false">
                <img id="photo-preview"/>
            </td>
        </tr>
        <tr>
            <td>Дата начала</td>
            <td><input type="text" class="date" ng-model="exposition.startDate"></td>
        </tr>
        <tr>
            <td>Дата окончания</td>
            <td><input type="text" class="date" ng-model="exposition.endDate"></td>
        </tr>
        <tr>
            <td>Презентация</td>
            <td>
                <button ngf-select="uploadPresentation($file)">Выбрать</button>
                <input type="text" ng-model="exposition.presentation.content" ng-show="false">
                <input type="text" ng-model="exposition.presentation.type" ng-show="false">
                <span id="presentation-name"></span>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                Описание<br/>
                <textarea name="expositionDescription" ng-model="exposition.description" id="expositionDesc" style="width: 100%; height: 50px;"></textarea>
            </td>
        </tr>
        <tr>
            <td>Количество участников</td>
            <td><input type="text" ng-model="exposition.participantsNumber"></td>
        </tr>
        <tr>
            <td>Ожидаемая аудитория</td>
            <td><input type="text" ng-model="exposition.expectedAudience"></td>
        </tr>
        <tr>
            <td>Минмальный отклик</td>
            <td><input type="text" ng-model="exposition.minFeedBack"></td>
        </tr>
        <tr>
            <td>Тематики</td>
            <td>
                <button ng-click="showThemes()">Добавить</button>
                <ul>
                    <li ng-repeat="theme in exposition.themes">
                        {{theme.name}}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Теги</td>
            <td>
        <tags-input ng-model="exposition.tags" addOnComma="false" addOnSpace="true">
            <auto-complete source="findTag($query)"></auto-complete>
        </tags-input>
        </td>
        </tr>

        <tr>
            <td colspan="2" style="text-align: right;">
                <button type="submit" ng-click="createExposition()">Добавить</button>
                <a href="/#/exposition/create/" ng-click="reset()">Отменить</a>
            </td>
        </tr>
    </table>
</form>

<section id="themes" class="clearfix">

    <h1>Выбрать тематику</h1>

    <div class="inner">

        <div class="grid clearfix">
            <ul class="leter-list" ng-repeat="letter in letters">
                <div class="leter"><font size="5">{{letter}}</font></div>
                <li ng-repeat="theme in themes" ng-if="letter === theme.name.charAt(0)" style="max-width: 275px;" ng-class="checkChosenTheme(theme) ? 'active' : ''">
                    <a href="" ng-click="choseThemes(theme)">{{theme.name}}</a>
                </li>
            </ul>
        </div><!--/grid-->
    </div><!--/inner-->

    <div class="button_bg">
        <button ng-class="activeChoseThemeButton ? '' : 'gray_button'" ng-click="closeTheme()">Выбрать тематики</button>
    </div>

</section>

<script>
    $(function () {
        $(".date").each(function () {
            $(this).datepicker({minDate: "0d"});
        });
    });
</script>