<!--<h3> Описание выставки </h3>
<h3>app name is {{appname}}</h3>
<h4> {{exposition.displayName}}</h4>
<div>
    <a href="/#/exposition/">Назад</a>
</div>
<table>
    <tr>
        <td>Название</td>
        <td>{{exposition.displayName}}</td>
    </tr>
    <tr>
        <td>Город</td>
        <td>{{exposition.location}}</td>
    </tr>
    <tr>
        <td>Вебсайт</td>
        <td>{{exposition.website}}</td>
    </tr>
    <tr>
        <td>Цена</td>
        <td>{{exposition.price}}</td>
    </tr>
    <tr>
        <td>Фото</td>
        <td><img data-ng-src="data:{{exposition.photo.ext}};base64,{{exposition.photo.contentString}}"></td>
    </tr>
    <tr>
        <td>Дата начала</td>
        <td>{{exposition.startDate}}</td>
    </tr>
    <tr>
        <td>Дата окончания</td>
        <td>{{exposition.endDate}}</td>
    </tr>
    <tr>
        <td>Презентация</td>
        <td><a ng-show="exposition.presentation.contentString" ng-href="data:{{exposition.presentation.ext}};base64,{{exposition.presentation.contentString}}" target="_blank" download >Презентация</a> </td>
    </tr>
    <tr>
        <td>Описание</td>
        <td>{{exposition.description}}</td>
    </tr>
</table>
<div>
    <a ng-show="hasRole(2)" href="/#/cart/add/{{exposition._id}}/">Тестировать</a>
    <a href="/#/exposition/{{exposition._id}}/offers/">Список предложений</a>
    <a ng-show="isOwner(exposition.creator)" class="btn btn-inverse" href="/#/exposition/{{exposition._id}}/edit/"
       ng-click="findExposition(exposition._id)">
        Изменить
    </a>
    <a ng-show="isOwner(exposition.creator)" ng-click="generateLetter()" href="">Сгенерировать письмо</a>
    <a ng-show="isOwner(exposition.creator)" ng-click="deleteExposition(exposition._id)" href="">Удалить</a>
</div>-->

<div>
    <textarea ng-model="letter" ng-show="showLetter"></textarea>
</div>

<section class="NS_projects__hero_funding">
    <!-- / Hide this on mobile since we want the video to be at the top -->
    <div class="mobile-hide py4 px2">
        <div class="NS_projects__header center">
            <h2 class="normal mb1">{{exposition.displayName}}</h2>
        </div>
    </div>
    <div class="container-flex px2">
        <div class="row">
            <div class="table">
                <div class="table-cell col-8 px-gutter">
                    <div class="project-image" data-has-video="true" id="video-section" style="text-align: center;">
                        <img data-ng-src="data:{{exposition.photo.ext}};base64,{{exposition.photo.contentString}}">
                    </div>

                </div>
                <div class="table-cell col-4 px-gutter">
                    <div class="NS_projects__stats">
                        <div class="digits_5" id="stats">
                            <div class="row">
                                <!--                                <div class="col col-12 mb1 stat-item">
                                                                    <div class="num h1 bold" data-backers-count="3347" id="backers_count"><data class="Project802351806" data-format="number" data-value="3347" itemprop="Project[backers_count]">3,347</data></div>
                                                                    <span class="text">backers</span>
                                                                </div>-->
                                <div class="col col-12 mb1 stat-item">
                                    <div style="font-weight: bold; color: #0F2105" class="num h1 nowrap" data-goal="{{exposition.price}}" data-pledged="{{exposition.price}}" id="pledged">
                                        {{exposition.price}} копеек
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="NS_projects__back_and_star">
                        <div class="Project802351806">
                            <div class="inline-block mobile-hide">
                                <a class="btn btn--green btn--large" ng-show="hasRole(2)" href="/#/cart/add/{{exposition._id}}/">Тестировать</a>
                                
                                <a class="btn btn--green btn--small" ng-show="isOwner(exposition.creator)" class="btn btn-inverse" href="/#/exposition/{{exposition._id}}/edit/"
                                   ng-click="findExposition(exposition._id)">
                                    Изменить
                                </a>
                                <a class="btn btn--green btn--small" ng-show="isOwner(exposition.creator)" ng-click="generateLetter()" href="">Сгенерировать письмо</a>
                                <a class="btn btn--red btn--small" ng-show="isOwner(exposition.creator)" ng-click="deleteExposition(exposition._id)" href="">Удалить</a>
                                
                            </div>
                            <div class="align-middle inline-block pl1 mobile-hide"></div>
                        </div>
                    </div>
                    <!-- / This project will only be funded if... -->
                    <div class="NS_projects__deadline_copy">
                        <div class="Project802351806" data-conditions="[{&quot;state&quot;:&quot;live&quot;}]" data-evaluation="true" data-render="&quot;&lt;p class=\&quot;h6 grey-dark mb0\&quot;&gt;\nThis project will be funded on &lt;time class=\&quot;invisible-if-js js-adjust-time\&quot; data-format=\&quot;llll z\&quot; datetime=\&quot;2016-04-15T06:00:00-04:00\&quot;&gt;Fri, Apr 15 2016 6:00 am EDT&lt;/time&gt;.\n&lt;/p&gt;\n&quot;"><p class="h6 grey-dark mb0">
                                Дата начала <time class="js-adjust-time" data-format="llll" datetime="{{exposition.startDate}}">{{exposition.startDate}}</time>.
                                Дата окончания <time class="js-adjust-time" data-format="llll" datetime="{{exposition.endDate}}">{{exposition.endDate}}</time>.
                            </p>
                        </div>
                    </div>

                    <!-- / Social avatars -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-8 py4">
                <div class="mobile-hide">
                    <div class="h5 mb3">
                        <div class="NS_projects__category_location">
                            <a class="grey-dark mr3 nowrap" href="https://www.kickstarter.com/discover/places/paris-fr?ref=city"><span aria-hidden="true" class="ksr-icon__location"></span>
                                {{exposition.location}}
                            </a>
                        </div>

                    </div>
                    <p class="h3 mb3">
                        {{exposition.description}}
                    </p>
                </div>
            </div>
            <!--            <div class="col col-4">
                            <div class="border-top py4">
                                <div class="row clip">
                                    <div class="NS_projects__creator">
                                        <div class="col-right col-4 align-right mobile-center pr2 border-box">
                                            <div class="mobile-hide"><a class="remote_modal_dialog" data-modal-class="modal_project_by" data-modal-title="About the creator" href="https://www.kickstarter.com/projects/1151191861/movieswap-join-us-to-freethemovies/creator_bio"><img alt="" class="avatar-small circle" height="80" src="{{exposition.creator.avatar}}" width="80"></a></div>
                                        </div>
                                        <div class="col col-8">
                                            <h5 class="mobile-hide"><a class="remote_modal_dialog green-dark" data-modal-class="modal_project_by" data-modal-title="About the creator" href="https://www.kickstarter.com/projects/1151191861/movieswap-join-us-to-freethemovies/creator_bio">{{exposition.creator.displayName}}</a></h5>
                                            
                                            
                                            <div class="mb1 mobile-hide">
                                                <div class="flag">
                                                    <div class="flag-img">
                                                        <span class="ss-icon ss-globe h6 grey-dark"></span>
                                                    </div>
                                                    <div class="flag-body">
                                                        <p class="h5 mb0 grey-dark ellipsis">
                                                            <a class="bold grey-dark popup" href="{{exposition.website}}" rel="nofollow" target="_blank">{{exposition.website}}</a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <p class="h5 bold mobile-hide">
                                                <a class="remote_modal_dialog full_bio mr2" data-modal-class="modal_project_by" data-modal-title="About the creator" href="https://www.kickstarter.com/projects/1151191861/movieswap-join-us-to-freethemovies/creator_bio">See full bio</a>
                                                <a class="remote_modal_dialog message_creator_modal_link" data-modal-class="modal_send_message" data-modal-title="Send a message to MovieSwap" href="https://www.kickstarter.com/projects/1151191861/movieswap-join-us-to-freethemovies/messages/new?message%5Bto%5D=1151191861">Contact me</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>-->
        </div>
    </div>
</section>

<div class="NS_projects__content">
    <div class="NS_projects__project_nav js-project-nav skrollable skrollable-between" data-0="position:absolute;" data-top-top="position:fixed; top:0;" style="position: absolute; top: 0px;">
        <div class="container-flex js-project-nav-scroll">
            <div class="row">
                <div class="selected-indicator js-selected-indicator transition-all-bezier" style="left: 0px; width: 65px;"></div>
                <div class="project-nav__links">
                    <a class="is-active js-load-project-content js-load-project-description project-nav__link--campaign tabbed-nav__link" data-content="description" href="https://www.kickstarter.com/projects/1151191861/movieswap-join-us-to-freethemovies/description">
                        Презентация
                    </a>
                    <a class="is-active js-load-project-content js-load-project-description project-nav__link--campaign tabbed-nav__link" href="/#/exposition/{{exposition._id}}/offers/">Список предложений</a>
                </div>
            </div>
        </div>
    </div>

    <section class="js-could-have-report-project js-project-content js-project-description-content project-content" data-project-state="live">
        <div class="NS_projects__description_section">
            <div class="py6 bg-white">
                <div class="container-flex px2">
                    <div class="row">
                        <div class="col col-8">
                            <div class="mb6">
                                <h3 class="normal mb4 mobile-hide">
                                    <a ng-show="exposition.presentation.contentString" ng-href="data:{{exposition.presentation.ext}};base64,{{exposition.presentation.contentString}}" target="_blank" download >Презентация</a>
                                </h3>
                            </div>
                            <div class="full-description js-full-description responsive-media formatted-lists">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>