<h3> Описание выставки </h3>
<!--<h3>app name is {{appname}}</h3>-->
<h4> {{exposition.displayName}}</h4>
<div>
    <a href="/#/exposition/">Назад</a>
</div>
<table>
    <tr>
        <td>Название</td>
        <td>{{exposition.displayName}}</td>
    </tr>
    <tr>
        <td>Город</td>
        <td>{{exposition.location}}</td>
    </tr>
    <tr>
        <td>Вебсайт</td>
        <td>{{exposition.website}}</td>
    </tr>
    <tr>
        <td>Цена</td>
        <td>{{exposition.price}}</td>
    </tr>
    <tr>
        <td>Фото</td>
        <td><img data-ng-src="data:{{exposition.photo.ext}};base64,{{exposition.photo.contentString}}"></td>
    </tr>
    <tr>
        <td>Дата начала</td>
        <td>{{exposition.startDate}}</td>
    </tr>
    <tr>
        <td>Дата окончания</td>
        <td>{{exposition.endDate}}</td>
    </tr>
    <tr>
        <td>Презентация</td>
        <td><a ng-show="exposition.presentation.contentString" ng-href="data:{{exposition.presentation.ext}};base64,{{exposition.presentation.contentString}}" target="_blank" download >Презентация</a> </td>
    </tr>
    <tr>
        <td>Описание</td>
        <td>{{exposition.description}}</td>
    </tr>
</table>
<div>
    <a permission only="'exponent'" href="/#/cart/add/{{exposition._id}}/">Тестировать</a>
    <a href="/#/exposition/{{exposition._id}}/offers/">Список предложений</a>
    <a ng-show="isOwner(exposition.creator)" class="btn btn-inverse" href="/#/exposition/{{exposition._id}}/edit/"
       ng-click="findExposition(exposition._id)">
        Изменить
    </a>
    <a ng-show="isOwner(exposition.creator)" ng-click="deleteExposition(exposition._id)" href="">Удалить</a>
</div>