<a permission only="'organizer'" href="/#/exposition/create/">Создать новую выставку</a>
<h1>
    Создано {{expositions.length}} выставок.
</h1>
<table class="table table-striped" ng-show="expositions.length">
    <tr>
        <td>Название выставки</td>
    </tr>
    <tr ng-repeat="exposition in expositions">
        <td>
            <a href="/#/exposition/{{exposition._id}}/" ng-click="findExposition(exposition._id)">
                {{exposition.displayName}} </a>
        </td>
    </tr>
</table>
